* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}
input,
textarea,
select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #000;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 14px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
#head {
  background: #fff;
  padding: 20px;
}
header .nav-left a {
  width: 90%;
}
header {
  display: flex;
  justify-content: space-between;
}
section#head .middle {
  margin: auto;
}

section#head .middle ul {
  display: flex;
}
section#head .middle ul li {
  margin-right: 20px;
}
section#head .middle a {
  color: black;
}
section#head .nav-right {
  margin: auto 0;
}
section#head .nav-right ul {
  display: flex;
}
section#head .nav-right ul li {
  margin-right: 10px;
}

section#head .nav-right a {
  color: black;
  margin-right: 51px;
}

#head .nav-right ul li a.button {
  padding: 10px 20px;
  border: 1px solid #000;
}
section#head .left {
  width: 35%;
}
section#head .container {
  display: flex;
  justify-content: space-between;
}
section#head .container .left h1 {
  font-size: 68px;
  font-weight: 600;
  margin-top: 50px;
  width: -40%;
}
section#head .container .left .head-span {
}
section#head .container .left .head-span div.remarks {
  display: flex;
}
section#head .container .left .head-span div.remarks div.hyphen {
  background: #000;
  width: 20px;
  height: 1px;
  display: flex;
  margin: 7px 60px 0 0;
}
section#head .container .left .head-span div.remarks p {
  font-size: 12px;
  color: gray;
  width: 68%;
}
section#head .btn-head {
  margin-top: 20px;
  display: flex;
}

section#head .btn-head .botton {
  background: #8873ef;
  border: none;
  border-radius: 12px;
  font-size: 11px;
  padding: 10px 10px;
  color: #fff;
  align-items: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
section#head .btn-head img {
  margin-left: 8px;
  margin-right: 5px;
}
section#head .btn-head .btn-img {
  height: 15px;
  width: 15px;
  filter: grayscale(1) invert(1);
}
section#head .btn-head .btn-white {
  border: none;
  background-color: white;
}
section#head .btn-head .btn-white {
  border: none;
  border-radius: 12px;
  font-size: 11px;
  padding: 10px 10px;
  color: #000;
  align-items: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
section#head .btn-head .btn-img2 {
  height: 15px;
  width: 15px;
}

section#head .headbottom {
  margin-top: 80px;
  margin-right: 60px;
}
section#head .headbottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
section#head .headbottom ul h2 {
  font-size: 15px;
}
section#head .headbottom ul .bg {
  background-color: #f4f4f4;
  padding: 11px 12px;
  border-radius: 50%;
}

section#head .right {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 60%;
}
section#head .right .image {
  margin-top: 30px;
  margin-left: -10px;
}
section#head .right img {
  width: 85%;
  display: block;
}
section#head .right img.play {
  position: absolute;
  width: 15%;
}
section#head .right h2 {
  position: absolute;
  font-size: 15px;
  font-weight: 700;
  right: 100px;
  width: 25%;
  top: 67px;
}
section#head .right img.play {
  position: absolute;
  width: 25%;
  top: 341px;
  left: 186px;
}

section#service {
  background: #fcda69;
  padding: 42px 10px;
}

section#service .container {
  display: flex;
}
section#service .serv-left h1 {
  font-size: 49px;
  font-weight: 600;
  width: 39%;
  margin-top: 60px;
}
section#service .serv-left .small ul {
  display: flex;
  font-size: 12px;
  width: 55%;
  margin-top: 25px;
}
section#service .serv-left .small ul li {
  margin-right: 20px;
}

section#service .image img {
  margin-top: 190px;
  width: 21%;
}

section#service hr {
  border: solid 0.5px #000;
  width: 520px;
}
section#service .serv-right ul {
  display: flex;
}
section#service .serv-right li {
  margin-right: 40px;
  font-weight: 600;
  margin-top: 20px;
}
section#service .serv-right .f1 h1 {
  font-weight: 700;
  font-size: 36px;
  width: 70%;
}
section#service .serv-right .f1 span {
  font-size: 10px;
  font-weight: 600;
}
section#service .serv-right .img1 {
  width: 9%;
  
}
section#service .serv-right .f1 .web {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
}
section#service .serv-right .f1 .expl {
  margin-right: 380px;
}
section#service .serv-right .img2 {
  width: 9%;
  
}
section#service .serv-right .f2 .mobile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
}
section#service .serv-right .f2 .mob {
  margin-right: 380px;
}
section#service .serv-right .img3 {
  width: 9%;
  
}
section#service .serv-right .f3 .dashboard {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
}
section#service .serv-right .f3 .dash {
  margin-right: 380px;
}
section#service .serv-right .f2 h1 {
  font-weight: 700;
  font-size: 36px;
  width: 70%;
}
section#service .serv-right .f2 span {
  font-size: 10px;
  font-weight: 600;
}
section#service .serv-right .f3 h1 {
  font-weight: 700;
  font-size: 36px;
  width: 70%;
}
section#service .serv-right .f3 span {
  font-size: 10px;
  font-weight: 600;
}
